.swatch_options {
  display: flex;
}

#customiser-slider-section {
  width: 100%;
  height: 50vh;
}

.swatch-element.selected {
  border: 1px solid black;
}

#viewGrid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (max-width: 798px) {
  #viewGrid {
    grid-template-columns: 1fr;
  }

  #customiser-slider-section {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  #customiser-slider-section {
    height: 70vh;
  }
}

#viewGrid div {
  background: rgb(208 208 208 / 41%);
}

#viewGrid div:nth-child(2) {
  background: #e4d3d3f0;
}

#viewGrid div:nth-child(3) {
  background: #f3e5d2;
}

#viewGrid div:nth-child(4) {
  background: #e0e8d3;
}

.slick-next:before {
  content: '\203A' !important;
  color: black !important;
  font-size: 50px !important;
}

.slick-prev:before {
  content: '\2039' !important;
  color: black !important;
  font-size: 50px !important;
}

.slick-prev, .slick-next {
  top: 45% !important;
  z-index: 99999999 !important;
}

.slick-prev {
  left: 18px !important;
}

/* TODO: remove unneccessary css from slick-next */
.slick-next {
  width: 52px !important; 
  height: 43px !important;
  padding-top: 10px !important;
  padding-left: 18px !important;
  right: 0px !important;
  top: 50px;
}

@media (max-width: 768px) {
  .slick-slide {
    margin-right: 0px;
  }
}
